/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "PROPR"{
        tag = { [
            "$meta.id",
            (meta.args_cor ? "args_cor = $meta.args_cor" : '')
        ].join(',').trim() }
        ext.args = { [
            (meta.args_cor ? "${meta.args_cor}" : ''),
            "--features_id_col ${params.features_id_col}",
            "--metric ${params.propr_metric}",
            "--ivar ${params.propr_ivar}",
            (params.propr_alpha ? "--alpha ${params.propr_alpha}" : ''),
            "--fdr ${params.propr_fdr}",
            "--tails ${params.propr_tails}",
            "--permutation ${params.propr_permutation}",
            "--number_of_cutoffs ${params.propr_ncutoffs}"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/correlation_analysis/propr-${meta.pathway_name ?: params.pathway}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
