/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:PROPR_PROPD"{
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_diff ? "args_diff = $meta.args_diff" : '')
        ].join(',').trim() }
        ext.prefix = { "${meta.contrast}" }
        ext.args = { [
            (meta.args_diff ? "${meta.args_diff}" : ''),
            "--features_id_col ${params.features_id_col}",
            "--obs_id_col ${params.observations_id_col}",
            (params.propd_alpha ? "--alpha ${params.propd_alpha}" : ''),
            "--moderated ${params.propd_moderated}",
            "--fdr ${params.propd_fdr}",
            "--permutation ${params.propd_permutation}",
            "--number_of_cutoffs ${params.propd_ncutoffs}",
            "--weighted_degree ${params.propd_weighted_degree}"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/propd" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:DESEQ2_NORM" {
        tag = { [
            "$meta.id",
            (meta.args_diff ? "args_diff = $meta.args_diff" : '')
        ].join(',').trim() }
        ext.prefix = 'all'
        ext.args = { [
            (meta.args_diff ? "${meta.args_diff}" : ''),
            "--gene_id_col \"${params.features_id_col}\"",
            "--sample_id_col \"${params.observations_id_col}\"",
            "--test $params.deseq2_test",
            "--fit_type $params.deseq2_fit_type",
            "--sf_type $params.deseq2_sf_type",
            "--min_replicates_for_replace $params.deseq2_min_replicates_for_replace",
            "--use_t $params.deseq2_use_t",
            "--lfc_threshold $params.deseq2_lfc_threshold",
            "--alt_hypothesis $params.deseq2_alt_hypothesis",
            "--independent_filtering $params.deseq2_independent_filtering",
            "--p_adjust_method $params.deseq2_p_adjust_method",
            "--alpha $params.deseq2_alpha",
            "--minmu $params.deseq2_minmu",
            "--vs_method $params.deseq2_vs_method",
            "--vs_blind $params.deseq2_vs_blind",
            "--vst_nsub $params.deseq2_vst_nsub",
            "--shrink_lfc $params.deseq2_shrink_lfc",
            "--cores $params.deseq2_cores",
            "--subset_to_contrast_samples $params.differential_subset_to_contrast_samples",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/deseq2/processed_abundance" },
                mode: params.publish_dir_mode,
                pattern: '*.{normalised_counts,vst,rlog}.tsv'
            ],
        ]
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:DESEQ2_DIFFERENTIAL" {
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_diff ? "args_diff = $meta.args_diff" : '')
        ].join(',').trim() }
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/deseq2/tables" },
                mode: params.publish_dir_mode,
                pattern: '*.deseq2.results.tsv'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/deseq2/plots" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/deseq2/other" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sizefactors.tsv,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            (meta.args_diff ? "${meta.args_diff}" : ''),
            "--gene_id_col \"${params.features_id_col}\"",
            "--sample_id_col \"${params.observations_id_col}\"",
            "--test $params.deseq2_test",
            "--fit_type $params.deseq2_fit_type",
            "--sizefactors_from_controls $params.sizefactors_from_controls",
            "--sf_type $params.deseq2_sf_type",
            "--min_replicates_for_replace $params.deseq2_min_replicates_for_replace",
            "--use_t $params.deseq2_use_t",
            "--lfc_threshold $params.deseq2_lfc_threshold",
            "--alt_hypothesis $params.deseq2_alt_hypothesis",
            "--independent_filtering $params.deseq2_independent_filtering",
            "--p_adjust_method $params.deseq2_p_adjust_method",
            "--alpha $params.deseq2_alpha",
            "--minmu $params.deseq2_minmu",
            "--vs_method $params.deseq2_vs_method",
            "--vs_blind $params.deseq2_vs_blind",
            "--vst_nsub $params.deseq2_vst_nsub",
            "--shrink_lfc $params.deseq2_shrink_lfc",
            "--cores $params.deseq2_cores",
            "--subset_to_contrast_samples $params.differential_subset_to_contrast_samples",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
            ((meta.exclude_samples_col == null) ? '' : "--exclude_samples_col $meta.exclude_samples_col"),
            ((meta.exclude_samples_values == null) ? '' : "--exclude_samples_values $meta.exclude_samples_values")
        ].join(' ').trim() }
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:FILTER_DIFFTABLE_DESEQ2" {
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_diff ? "args_diff = $meta.args_diff" : '')
        ].join(',').trim() }
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/deseq2/tables" },
                mode: params.publish_dir_mode,
                pattern: '*_filtered.tsv'
            ]
        ]
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:LIMMA_DIFFERENTIAL" {
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/limma/tables" },
                mode: params.publish_dir_mode,
                pattern: '*.limma.results.tsv'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/limma/plots" },
                mode: params.publish_dir_mode,
                pattern: '*.png'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/limma/other" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            (meta.args_diff ? "${meta.args_diff}" : ''),
            "--probe_id_col \"${params.features_id_col}\"",
            "--sample_id_col \"${params.observations_id_col}\"",
            "--ndups \"${params.limma_ndups}\"",
            "--spacing \"${params.limma_spacing}\"",
            "--block \"${params.limma_block}\"",
            "--correlation ${params.limma_correlation}",
            "--method \"${params.limma_method}\"",
            "--proportion ${params.limma_proportion}",
            "--stdev.coef.lim \"${params.limma_stdev_coef_lim}\"",
            "--trend ${params.limma_trend}",
            "--robust ${params.limma_robust}",
            "--winsor.tail.p \"${params.limma_winsor_tail_p}\"",
            "--p.value ${params.limma_p_value}",
            "--lfc ${params.limma_lfc}",
            "--confint ${params.limma_confint}",
            "--subset_to_contrast_samples $params.differential_subset_to_contrast_samples",
            ((meta.blocking == null) ? '' : "--blocking_variables $meta.blocking"),
            ((meta.exclude_samples_col == null) ? '' : "--exclude_samples_col $meta.exclude_samples_col"),
            ((meta.exclude_samples_values == null) ? '' : "--exclude_samples_values $meta.exclude_samples_values")
        ].join(' ').trim() }
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:DIFFERENTIAL:FILTER_DIFFTABLE_LIMMA" {
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_diff ? "args_diff = $meta.args_diff" : '')
        ].join(',').trim() }
        ext.prefix = { "${meta.contrast}" }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/differential_analysis/limma/tables" },
                mode: params.publish_dir_mode,
                pattern: '*_filtered.tsv'
            ]
        ]
    }
}
