/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:ENRICHMENT:MYGENE" {
        ext.args = [
            "--columname ${params.features_id_col}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/mygene" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:ENRICHMENT:GREA"{
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_enr ? "args_enr = $meta.args_enr" : '')
        ].join(',').trim() }
        ext.args = { [
            (meta.args_enr ? "${meta.args_enr}" : ''),
            "--set_min ${params.grea_set_min}",
            "--set_max ${params.grea_set_max}",
            "--permutation ${params.grea_permutation}"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/grea" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:EXPERIMENTAL:ENRICHMENT:GPROFILER2_GOST" {
        tag = { [
            "$meta.id",
            "$meta.contrast",
            (meta.args_enr ? "args_enr = $meta.args_enr" : '')
        ].join(',').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/gprofiler2/tables/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/gprofiler2/plots/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{png,html}'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/gprofiler2/other/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,gmt}'
            ],
            [
                path: { "${params.outdir}/${meta.pathway_name ?: params.pathway}/enrichment_analysis/gprofiler2/other/${meta.contrast}/" },
                mode: params.publish_dir_mode,
                pattern: '*.{rds,sessionInfo.log}'
            ]
        ]
        ext.args = { [
            (meta.args_enr ? "${meta.args_enr}" : ''),
            "--significant \"${params.gprofiler2_significant}\"",
            "--measure_underrepresentation \"${params.gprofiler2_measure_underrepresentation}\"",
            "--correction_method \"${params.gprofiler2_correction_method}\"",
            "--evcodes \"${params.gprofiler2_evcodes}\"",
            "--pval_threshold \"${params.gprofiler2_max_qval}\"",
            "--domain_scope ${params.gprofiler2_domain_scope}",
            "--min_diff \"${params.gprofiler2_min_diff}\"",
            "--round_digits ${params.report_round_digits}",
            "--palette_name \"${params.gprofiler2_palette_name}\"",
            ((params.differential_feature_id_column == null) ? '' : "--de_id_column \"${params.differential_feature_id_column}\""),
            ((params.gprofiler2_token == null) ? '' : "--token \"${params.gprofiler2_token}\""),
            ((params.gprofiler2_organism == null) ? '' : "--organism \"${params.gprofiler2_organism}\""),
            ((params.gprofiler2_background_column == null) ? '' : "--background_column \"${params.gprofiler2_background_column}\""),
            ((params.gprofiler2_sources == null) ? '' : "--sources \"${params.gprofiler2_sources}\"")
        ].join(' ').trim() }
    }
}
